<div class="example-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Climate Chart</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>

      <form class="form-horizontal">
        <div class="row form-group text-center">
          <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
            <mat-form-field>
              <mat-select placeholder="Select Country" name="loc" id="loc" [(ngModel)]="loc"
              (selectionChange)="clickFunctionLoc(loc)">
                <mat-option *ngFor='let coutry of location' [value]="coutry.countryName">
                  {{coutry.countryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
            <mat-form-field>
              <mat-select placeholder="Select Metric" name="met" id="met" [(ngModel)]="met"
              (selectionChange)="clickFunctionMet(met)">
                <mat-option *ngFor='let metric of metric' [value]="metric.metricName">
                  {{metric.metricName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
            <mat-form-field class="example-full-width">
              <input matInput name="startDate" id="startDate"  [matDatepicker]="picker1" [(ngModel)]="startDate"
                placeholder="Choose a Start date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3">
            <mat-form-field class="example-full-width">
              <input matInput [min]="startDate" name="endDate" id="endDate" [matDatepicker]="picker2"
                [(ngModel)]="endDate" placeholder="Choose a End date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row form-group">
        </div>
        <div class="row form-group text-center">
          <button mat-raised-button class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </form>
      <hr> 
      <div class="row" *ngIf = 'isShow'>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <h3 class="text-center">Climate History</h3>
        </div>
        <div class="canvasGraph" *ngIf="barChartData.length>0">
          <canvas baseChart [datasets]="barChartData" [labels]="uniqueMonthsLabel" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
     
    </mat-card-content>
  </mat-card>
</div>